# ignore text files
*.txt

# ignore the model weight files
*.pt
*.pth

# ignore anything inside these folders
/gpt2_models_directory
/sms_spam_collection


# ignore any zipped folder
*.zip

__pycache__/
/models
/.vscode


#/streamlit